@page "/admin/products/details/{id:int}"
@using SportStore.Models.Repo

<h3 class="bg-info text-white text-center p-1">Details</h3>
<table class="table table-sm table-bordered table-striped">
    <tbody>
    <tr>
        <th>
            Id
        </th>
        <td>@Product.ProductId</td>
        <th>
            Name
        </th>
        <td>
            @Product.Name
        </td>
        <th>
            Description
        </th>
        <td>
            @Product.Description
        </td>
        <th>
            Category
        </th>
        <td>
            @Product.Category
        </td>
        <th>
            Price
        </th>
        <td>
            @Product.Price.ToString("C")
        </td>
    </tr>
    </tbody>
</table>
<NavLink class="btn btn-warning" href="@EditUrl">Edit</NavLink>
<NavLink class="btn btn-secondary" href="/admin/products">Back</NavLink>

@code {
    [Inject]
    public IStoreRepository Repository { get; set; }

    [Parameter]
    public int Id { get; set; }

    public Product Product { get; set; }

    public string EditUrl => $"/admin/products/edit/{Product.ProductId}";

    protected override void OnParametersSet()
    {
        Product = Repository.Products.FirstOrDefault(x => x.ProductId == Id);
    }

}
